In [2]:
# all imports
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import requests
from datetime import datetime

### Introduction and data retreival
Using the $SBDB Close-Approach Data API$ we can retreive all the necessary data from the Jet Propulsion Laboratory on Close-approach objects to the Earth by near-Earth objects (NEOs).

The below code snipped represents a GET request with query parameters for distance and time. We also save the response data to a CSV file with the corresponding fields.

In [3]:
# define params for request
dist_max = '0.1au'
date_min = '2000-01-01'
# get todays date
today = datetime.today().strftime('%Y-%m-%d')

# define request URL with params
url = f'https://ssd-api.jpl.nasa.gov/cad.api?dist-max={dist_max}&date-min={date_min}&date-max={today}&diameter=true&fullname=true'
# execute GET request
response = requests.get(url)
response_data = response.json()

# extract fields
fields = response_data['fields']
data = response_data['data']

In [4]:
# convert to DataFrame
df = pd.DataFrame(data, columns = fields)

# convert to CSV format
csv_data = df.to_csv(index = False)

In [5]:
# save the CSV to a file
df.to_csv('./Datasets/close_approach_data.csv', index = False)

The **_dist_max_** variable is set to 0.1 astronomical units, showing us the objects that in that distance. **_date_min_** represents the date from which we want to see objects in our result set. Additionally we retreive the results unit todays date, defined with the **_today_** variable.

The columns in our dataset are the following: 

**des** - Primary designation of the asteroid or comet (e.g., <kbd>443</kbd>, <kbd>2000 SG344</kbd>) 
**orbit_id** - Orbit ID used for the close-approach computation  
**jd** - Time of close-approach (JD Ephemeris Time, TDB)  
**cd** - Time of close-approach (formatted calendar date/time, TDB)  
**dist** - Nominal approach distance (au)  
**dist_min** - Minimum (3-sigma) approach distance (au)  
**dist_max** - Maximum (3-sigma) approach distance (au)  
**v_rel** - Velocity relative to the approach body at close approach (km/s)  
**v_inf** - Velocity relative to a massless body (km/s)  
**t_sigma_f** - 3-sigma uncertainty in the time of close-approach (formatted in days, hours, and minutes; days are not included if zero; example “<kbd>13:02</kbd>” is 13 hours 2 minutes; example “<kbd>2_09:08</kbd>” is 2 days 9 hours 8 minutes)  
**body** - Name of the close-approach body (e.g., <kbd>Earth</kbd>). Only output if the body query parameters is set to <kbd>ALL</kbd>  
**h** - Absolute magnitude H (mag)  
**diameter** - diameter of the body (km). Optional - only output if requested with the <kbd>diameter</kbd> query parameter. <kbd>null</kbd> if not known  
**diameter_sigma** - 1-sigma uncertainty in the diameter of the body (km). Optional - only output if requested with the diameter query parameter. <kbd>null</kbd> if not known  
**fullname** - formatted full-name/designation of the asteroid or comet. 
Optional - only output if requested with the <kbd>fullname</kbd> query parameter. Formatted with leading spaces for column alignment in monospaced font tables

In [10]:
earth_orbit_objects_data = pd.read_csv('./Datasets/close_approach_data.csv')
earth_orbit_objects_data

,des,orbit_id,jd,cd,dist,dist_min,dist_max,v_rel,v_inf,t_sigma_f,h,diameter,diameter_sigma,fullname
0,2023 XU7,5,2.451548e+06,2000-Jan-04 09:30,0.044117,0.037339,0.051826,4.109913,4.095192,2_00:14,24.910,NaN,NaN,(2023 XU7)
1,2021 AQ6,2,2.451551e+06,2000-Jan-07 02:37,0.061895,0.058126,0.188656,13.234879,13.231626,3_00:06,24.800,NaN,NaN,(2021 AQ6)
2,2022 AT5,2,2.451552e+06,2000-Jan-08 08:15,0.071497,0.036382,0.117729,8.908276,8.904091,4_14:28,27.700,NaN,NaN,(2022 AT5)
3,2019 AX5,13,2.451552e+06,2000-Jan-08 18:45,0.047629,0.047183,0.048076,9.913268,9.907623,00:17,26.000,NaN,NaN,(2019 AX5)
4,2000 AG6,12,2.451553e+06,2000-Jan-09 02:13,0.013286,0.013264,0.013307,5.565080,5.528925,< 00:01,25.300,NaN,NaN,(2000 AG6)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27490,2024 PX3,1,2.460534e+06,2024-Aug-11 08:44,0.006807,0.006800,0.006814,9.669036,9.628466,< 00:01,26.008,NaN,NaN,(2024 PX3)
27491,2017 FK,6,2.460534e+06,2024-Aug-11 10:05,0.058173,0.046673,0.074185,8.649972,8.644675,2_07:09,27.400,NaN,NaN,(2017 FK)
27492,2024 PK2,5,2.460534e+06,2024-Aug-11 18:30,0.008548,0.008531,0.008566,8.577596,8.541180,< 00:01,25.534,NaN,NaN,(2024 PK2)
27493,2024 ON2,5,2.460535e+06,2024-Aug-12 06:51,0.045009,0.044477,0.045541,13.956510,13.952268,< 00:01,24.759,NaN,NaN,(2024 ON2)
27494,2024 OA3,6,2.460535e+06,2024-Aug-12 16:55,0.050312,0.050214,0.050409,26.431374,26.429371,< 00:01,22.615,NaN,NaN,(2024 OA3)

In [9]:
earth_orbit_objects_data.describe()

,jd,dist,dist_min,dist_max,v_rel,v_inf,h,diameter,diameter_sigma
count,2.749500e+04,27495.000000,27495.000000,27495.000000,27495.000000,27477.000000,27420.000000,578.000000,539.000000
mean,2.457576e+06,0.043827,0.041089,0.050144,10.549684,10.525298,25.193799,0.446033,0.055111
std,2.329992e+03,0.029259,0.028436,0.041040,5.293646,5.299285,2.238854,0.684710,0.107234
min,2.451548e+06,0.000045,0.000000,0.000045,0.217004,0.036680,14.100000,0.002500,0.000000
25%,2.456036e+06,0.017744,0.015970,0.018565,6.895763,6.872012,24.000000,0.108000,0.007000
50%,2.458230e+06,0.040447,0.037116,0.043253,9.506650,9.486337,25.340000,0.228000,0.019000
75%,2.459480e+06,0.068263,0.064015,0.074243,13.284087,13.255750,26.600000,0.464250,0.050500
max,2.460535e+06,0.099998,0.099972,0.376599,41.899197,41.898047,33.200000,6.250000,1.165000